:root {
    --color-fondo: #F5F5F5;
    --color-texto: #333333;
    --color-acento: #0077b6;
    --color-dorado: #DAA520;
    --color-hover: #009688;
    --color-alerta: #D32F2F;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
}
